.form-container {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #fff;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background-color: #333;
    color: white;
    font-size: 1rem;
  }
  
  .auth-button {
    background-color: #fdd835;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .auth-button:hover {
    background-color: #ffc107;
  }
  
  .toggle-link {
    color: red;
    cursor: pointer;
  }
  
  .toggle-link:hover {
    text-decoration: underline;
  }
  
  .auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .auth-content {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    width: 400px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  