.post-list {
    width: 60%;
    margin: 20px auto;
  }
  
  .post-card {
    background-color: #2e2e2e;
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .post-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .post-username {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .post-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .post-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .post-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  .like-button, .comment-info {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .like-button:hover, .comment-info:hover {
<<<<<<< HEAD
    color: #fdd835; 
=======
    color: #fdd835; /* เปลี่ยนสีเมื่อ hover */
>>>>>>> 1f55c05825ad3b6cce29a3de2663cfa9d018855b
  }
  
  .like-button svg, .comment-info svg {
    margin-right: 5px;
  }
  
  .comment-info {
    color: #fdd835;
  }
  